{% extends 'base.html' %}

{% block title %} {{file.name}} {% endblock %}
{% block content %}
    <h2>{{file.name}}</h2>
    <p>{{file.text}}</p>
    <em>Расширение файла: {{file.extension}}</em></br>
    <em>Расположен в каталоге {{file.catalog.name}}</em></br>
    <em>Дата публикации: {{file.pub_date}}</em></br></br>

   <form action="{% url 'delete_file' file.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Удалить файл</button>
   </form></br>

   <form action="{% url 'edit_file' file.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Редактировать файл</button>
   </form>
{% endblock %}